@import "tailwindcss";

@theme {
  --animate-spin-reverse: spin-reverse 1s linear infinite;

  @keyframes spin-reverse {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
}
